/* TaskCard styles */
.task-card {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #e06b6b;
    border-radius: 10px;
    background-color: #fff5e6;
    color: #cf5357;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .task-card.completed {
    border-color: #026c1e;
    box-shadow: 5px 5px 8px rgba(2, 108, 30, 0.4);
  }
  
  .task-card.incomplete {
    border-color: #e81919;
    box-shadow: 5px 5px 8px rgba(232, 25, 25, 0.4);
  }
  
  .task-card .task-name {
    flex: 1;
    padding: 10px;
  }
  
  .task-card .delete-button {
    padding: 8px 12px;
    background-color: #e06b6b;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .task-card .delete-button:hover {
    background-color: #cf5357;
  }

  